/* 共通ヘッダー部分 */
.header {
  display: flex;
  justify-content: space-between;
  margin: 25px 2%;
}
.header__img {
  width: 70%;
}
.header__nav {
  display: flex;
  width: 100%;
  justify-content: right;
  align-items: center;
}
.header__nav-list {
  margin-left: 4%;
  list-style: none;
}
.header__nav-list-content {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.nav {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__img {
    width: 50%;
  }
  .header__nav {
    display: none;
  }
  .nav {
    display: block;
  }
  .nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #f8f8f8;
    transition: 0.7s;
    text-align: center;
  }
  .nav ul {
    padding-top: 80px;
  }
  .nav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  .nav ul li a {
    text-decoration: none;
    color: blue;
  }
  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: -5%;
    top: 10%;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
}

/* FV部分 */
.fv {
  width: 100%;
}
.fv__ttl {
  text-align: center;
  font-size: 30px;
  margin-top: -140px;
  margin-bottom: 230px;
  color: #fff;
}
.fv__img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
@media screen and (max-width: 480px) {
  .fv__ttl {
    margin-bottom: 55%;
  }
}

/* ブログ部分 */
.blog {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 1% auto;
  flex-wrap: wrap;
}
.blog__card {
  width: 30%;
  margin-bottom: 3%;
}
.blog__card-img {
  width: 95%;
}
.blog__card-date {
  padding-top: 3%;
  padding-bottom: 2%;
}
.blog__card-con {
  font-weight: bold;
}
.blog__card-con-link {
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 768px) {
  .blog {
    display: block;
    margin-bottom: 15%;
  }
  .blog__card {
    width: 100%;
  }
  .blog__card-date {
    font-size: 13px;
  }
  .blog__card-con {
    padding-bottom: 3%;
  }
}

/* 共通お問い合わせ部分 */
.contact {
  width: 100%;
  height: 350px;
  background-color: #f5f5f5;
  text-align: center;
}
.contact__ttl {
  font-size: 30px;
  font-weight: bold;
  padding-top: 6%;
}
.contact__ex {
  padding-top: 2%;
}
.contact__btn {
  background-color: #cc0000;
  width: 20%;
  height: 12%;
  margin: 3% auto;
  padding-top: 1%;
}
.contact__btn-1 {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .contact {
    height: 300px;
  }
  .contact__ttl {
    padding-top: 10%;
  }
}
@media screen and (max-width: 480px) {
  .contact__ttl {
    padding-top: 20%;
  }
  .contact__ex {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
  }
  .contact__btn {
    margin-top: 13%;
    width: 70%;
    height: 10%;
    padding-top: 12px;
  }
  .contact__btn-1 {
    padding-top: 30%;
    height: 100%;
  }
}

/* 共通フッター部分 */
.fotter {
  width: 100%;
  height: 60px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  color: #fff;
  margin-top: 1.5%;
  margin-left: 8%;
  font-size: 12px;
}
.fotter__nav {
  display: flex;
  width: 45%;
  align-items: center;
}
.footer__nav-list {
  margin-left: 2%;
  list-style: none;
}
.fotter__nav-list-content {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}
.footer__nav-list-span {
  background-color: #fff;
  width: 1px;
  height: 15px;
  margin-left: 2%;
  margin-top: 3px;
}
.fot__phone {
  display: none;
}

@media screen and (max-width: 768px) {
  .fotter {
    display: none;
  }
  .fot__phone {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #212121;
    height: 300px;
    padding-top: 0;
  }
  .fot__phone__copy {
    color: #fff;
    font-size: small;
  }
  .fot__phone__link {
    color: #fff;
    line-height: 200%;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .fotter {
    display: none;
  }
  .fot__phone {
    display: block;
    background-color: #212121;
    text-align: center;
    padding-top: 16%;
    padding-bottom: 12%;
  }
  .fot__phone__copy {
    color: #fff;
    padding-bottom: 4%;
    font-size: small;
  }
  .fot__phone__link {
    color: #fff;
    text-decoration: none;
  }
}
